* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./img/5_background/western_sunset.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Rancho';
}

canvas {
    background-color: black;
    border-radius: 10px;
    box-shadow:
        0 0px 90px rgba(0,0,0,0.95),
        0 0 30px rgba(0,0,0,0.6),
        0 0 12px rgba(0,0,0,0.4);
}

.main_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}