@font-face {
  font-display: swap;
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rye-v17-latin/rye-v17-latin-regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rancho-v22-latin/rancho-v22-latin-regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Sancreek';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sancreek-v27-latin/sancreek-v27-latin-regular.woff2) format('woff2');
}  